/build/x64/Release/deepflow.lib
/build/x64/Release/mnist_lenet.exe
/build/mnist_lenet/x64
/build/mnist_lenet/data
/build/deepflow/src
/build/deepflow/x64
.vs
/third-party/third-party.zip
/build/deepflow.VC.db
/third-party/cudnn-8.0-x64-v6.0
/third-party/gflags
/third-party/glog
/third-party/opencv
/third-party/protobuf
/build/x64
/build/Debug
/build/image_approximation/x64
/build/examples/x64
/build/experimental/x64
/docs/cudnn_samples_v6
/build/examples/data
*.ipdb
*.iobj
*.user
*.exp
*.pdb
*.log
*.obj
*.tlog
*.dll
*.opendb
*.*-ubyte