/data/mnist/t10k-images.idx3-ubyte
/data/mnist/t10k-labels.idx1-ubyte
/data/mnist/train-images.idx3-ubyte
/data/mnist/train-labels.idx1-ubyte
/build/x64/Release/deepflow.dll
/build/x64/Release/deepflow.exp
/build/x64/Release/deepflow.iobj
/build/x64/Release/deepflow.ipdb
/build/x64/Release/deepflow.lib
/build/x64/Release/deepflow.pdb
/build/x64/Release/mnist_lenet.exe
/build/x64/Release/mnist_lenet.iobj
/build/x64/Release/mnist_lenet.ipdb
/build/x64/Release/mnist_lenet.pdb
/build/mnist_lenet/x64
/build/mnist_lenet/data
/build/deepflow/src
/build/deepflow/x64
/build/deepflow/vc140.pdb
.vs
/build/x64/Release/opencv_imgproc320.dll
/build/x64/Release/cudart32_80.dll
/build/x64/Release/cudart64_80.dll
/build/x64/Release/cudnn64_6.dll
/build/x64/Release/opencv_core320.dll
/build/x64/Release/opencv_imgcodecs320.dll
/third-party/third-party.zip
/build/deepflow.VC.db
/build/x64/Debug/cudart32_80.dll
/build/x64/Debug/cudart64_80.dll
/build/x64/Debug/cudnn64_6.dll
/build/x64/Debug/data/mnist/t10k-images.idx3-ubyte
/build/x64/Debug/data/mnist/t10k-labels.idx1-ubyte
/build/x64/Debug/data/mnist/train-images.idx3-ubyte
/build/x64/Debug/data/mnist/train-labels.idx1-ubyte
/build/x64/Debug/opencv_core320d.dll
/build/x64/Debug/opencv_cudev320d.dll
/build/x64/Debug/opencv_highgui320d.dll
/build/x64/Debug/opencv_imgcodecs320d.dll
/build/x64/Debug/opencv_imgproc320d.dll
/build/x64/Release/data/mnist/t10k-images.idx3-ubyte
/build/x64/Release/data/mnist/t10k-labels.idx1-ubyte
/build/x64/Release/data/mnist/train-images.idx3-ubyte
/build/x64/Release/data/mnist/train-labels.idx1-ubyte
/third-party/cudnn-8.0-x64-v6.0
/third-party/gflags
/third-party/glog
/third-party/opencv
/third-party/protobuf
