/build/x64/Release/deepflow.lib
/build/x64/Release/mnist_lenet.exe
/build/mnist_lenet/x64
/build/mnist_lenet/data
/build/deepflow/src
/build/deepflow/x64
.vs
/build/deepflow.VC.db
/third-party/cudnn-8.0-x64-v6.0
/build/x64
/build/Debug
/build/image_approximation/x64
/build/examples/x64
/build/experimental/x64
/docs/cudnn_samples_v6
/build/examples/data
*.ipdb
*.iobj
*.user
*.exp
*.pdb
*.log
*.obj
*.tlog
*.dll
*.opendb
*.*-ubyte
/models/VGG_ILSVRC_19_layers.caffemodel
/models/VGG_ILSVRC_19_layers_deploy.prototxt
/models/VGG_ILSVRC_16_layers.caffemodel
/models/VGG_ILSVRC_16_layers_deploy.prototxt
*.idb
/data/face64
/data/face643
/data/celeba64
/data/celeba128
/data/mnist/*.gz
/third-party/boost_1_64_0
/auxiliary/mnist-dcgan/dist/server.js
